
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: sans-serif;
}

body {
    background-color: #CCC;
}

a {
    text-decoration: none;
    color: #03c;
}

a:hover {
    color: #f90;
}

#main {
    width: 1000px;
    margin: 0 auto;
    background-color: #FFF;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#top {
    text-align: center;
    width: 900px;
    overflow: auto;
    margin: 0 auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom: solid thin #f90;
}

#content {
    width: 860px;
    margin: 0 auto;
}

.box {
    float: left;
    padding: 20px;
}

.box li {
    padding-bottom: 3px;
}

#footer {
    text-align: center;
    padding: 2em;
    font-size: small;
}

h1 {
    font-size: 24px;
    color: #B36B00;
    padding-top: 1em;
}

h2 {
    font-size: 18px;
    color: #B36B00;
    padding-top: 1em;
}

h3 {
    font-size: 16px;
    color: #B36B00;
    padding-top: 1em;
}

p {
    text-align: left;
    padding-top: 1em;
}

#content ul {
    padding-top: 0.5em;
}

img {
    border: 0;
}

pre {
    border: thin solid #f90;
    padding: 5px;
    margin-bottom: 2em;
}

li {
    list-style-type: none;
}

.date {
    color: #B36B00;
    padding-top: 0;
}

#navi {
    clear: both;
    width: 900px;
    margin: 0 auto;
    margin-top: 3em;
    padding-bottom: 3em;
    overflow: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top: solid thin #f90;
}

#navi li {
    padding-right: 1em;
    list-style-type: none;
}

.emph {
    font-weight: bold;
}

hr {
    margin: 2em 0;
    background-color: #ff9900;
    color: #ff9900;
    border: none;
    height: 1px;
}
