<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="de-de">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>{{ page.title }} &lt; enricopilz.de</title>
</head>

<body>
    <div id="main">
        <div id="top">
            <h1><a href="http://enricopilz.de"><img alt="enricopilz.de" src="/media/images/{{ page.topimage }}" /></a></h1>
        </div>
        <div id="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
        <div id="navi">
            <div class="box">
                <ul>
                    <li><a href="/steckbrief">Steckbrief</a></li>
                    <li><a href="/studium">Studium</a></li>
                </ul>
            </div>
            <div class="box">
                <ul>
                    <li><a href="https://github.com/ocirne" title="GitHub">github.com/ocirne</a></li>
                    <li><a href="https://www.xing.com/profile/Enrico_Pilz3" title="Xing">xing.com/profile/Enrico_Pilz3</a></li>
                    <li><a href="http://www.youtube.com/user/enricopilz" title="YouTube">youtube.com/user/enricopilz</a></li>
                </ul>
            </div>
            <div class="box">
                <a href="http://projecteuler.net/" title="Project Euler"><img alt="Project Euler" src="http://projecteuler.net/profile/enrico.png" style="border: 0; width: 200px; height: 60px; " /></a>
            </div>
            <div class="box">
                <a href="http://www.dailymile.com/people/enricopilz" title="Daily Mile"><img src="http://www.dailymile.com/images/badges/dailymile_badge_143x56_orange.png" width="143" height="56" alt="running apps" border="0" /></a>
            </div>
        </div>
    </div>
    <div id="footer">
        &copy; 2006 &ndash; 2012 Enrico Pilz<br />
        <a href="http://enricopilz.de/">enricopilz.de</a>
    </div>
</body>
</html>
